<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>

        <div>
            <div>
               <img src="" alt="">
               <p class="playerName"></p>
               <p class="playerDob"></p>
            </div>

            <div>
                <h3>Personal Information</h3>
                <p>No. of Matches <span class="matches"></span></p>
                <p>Runs <span class="runs"></span></p>
                <p>No. of fifties <span class="fifties"></span></p>
                <p>No. of centuries <span class="centuries"></span></p>
            </div>
        </div>

        <div>
            <div class="description"></div>
        </div>

    </div>

</body>
</html>